// ============================
// BREAKPOINTS
// ============================
$bp-mobile:     480px;
$bp-tablet:     768px;
$bp-desktop:    1024px;
$bp-desktop-xl: 1440px;

// ============================
// COLORES
// ============================
$purple:   #6E1FED;
$grey: #ABABAB;
$pink: #DB2A6B ;
$black:  #2B2D38;
$blue:#60D3D9;
$orange:#FF7E29;
$yellow:#F4B840;

// ============================
// FUENTES
// ============================
$poppins:"Poppins", sans-serif;
$merriweather:"Merriweather", serif;



// ============================
// TAMAÑO-FUENTES
// ============================
